html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.custom-textarea {
    width: 100%;
}

.fc-timegrid-slot-lane {
    height: 40px !important;
}